MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret_key

TRADEINDIA_USER_ID=your_tradeindia_user_id
TRADEINDIA_PROFILE_ID=your_tradeindia_profile_id
TRADEINDIA_API_KEY=your_tradeindia_api_key
